:root {
  --white: #efefef;
  --menu-1: #4b84f2;
  --menu-2: #2464d4;
  --gray-1: #f3f3f8;
  --gray-2: #9098b1;
  --gray-3: #6e6f89;
  --green-1: #64db63;
  --dark-1: #3f4d65;
  --dark-2: #1d273a;
  --purple-1: #343268;
}
