@import url(color.css);
body {
  /*display: none;*/
}

#login {
  z-index: 9999;
  border-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dce9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("logo-ems-cort.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0% center;
  display: none !important;
}

#content {
  position: absolute;
  border-radius: 5px;
  background-color: #ababaf;
  width: 75%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dce9f7;
  border: 20px solid #000;
  border-radius: 40px;
}

#content:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  background: var(--dark-2);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: inset 0 0 1px 2px #555;
}

.volumeU {
  width: 50px;
  height: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  background-color: #666;
  position: absolute;
  top: -23px;
  left: 80px;
}

.volumeU:after {
  content: "";
  width: 50px;
  height: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  background-color: #666;
  position: absolute;
  top: 0px;
  left: 52px;
}

.volumeU:before {
  content: "";
  width: 3px;
  height: 50px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  position: absolute;
  background-color: #666;
  top: 61px;
  left: -103px;
}

#banner {
  position: fixed;
  display: inline-block;
  bottom: 10%;
  right: 1%;
  max-width: 300px;
  height: auto;
  opacity: 0.3;
}

#mugshot {
  display: inline-block;
  max-width: 215px;
  height: auto;
  border: 2px solid #0083ff;
  user-select: none;
}

.report-input {
  font-family: "Courier New";
  border-width: 0px;
  border: none;
  color: #093e70;
  font-size: 12pt;
  padding: 0px 0px 0px 0px;
  width: 550px;
  margin-right: 10px;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: bolder;
}

.page-title {
  margin-bottom: 30px;
}

.line {
  position: fixed;
  width: 100%;
  height: 1.5%;
  background-color: #0083ff;
}

.nav-active {
  text-decoration: underline;
  text-decoration-color: #0000ff;
}

.noselect {
  user-select: none;
}

.left-side {
  float: left;
  max-width: 50%;
  max-height: 550px;
  overflow-y: auto;
  height: auto;
  text-align: left;
  user-select: none;
}

.right-side {
  position: absolute;
  left: 65%;
  right: 10%;
  width: 35%;
  max-width: 300%;
  max-height: 550px;
  overflow-y: auto;
  height: auto;
  text-align: left;
  user-select: none;
}

.modal {
  z-index: 3;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: auto;
  background-color: #093e70;
  position: relative;
  padding: 20px 20px;
  outline: 2px solid #ffffff;
  top: 40%;
  width: 30%;
}

br {
  user-select: none;
}

h2,
h3 {
  font-family: "Arial Black";
  user-select: none;
  color: #0083ff;
  margin: 1px 1px 1px 1px;
}

h4 {
  font-family: "Arial Black";
  font-weight: bolder;
  font-size: 14px;
  user-select: none;
  color: #002eff;
  margin: 1px 1px 1px 1px;
}

p {
  font-family: "Courier";
  color: white;
}

button {
  background-color: #399efe;
  color: #ffffff;
  font-family: "Arial";
  font-weight: bolder;
  border: 4px solid #399efe;
  font-size: 12pt;
  text-align: center;
  padding: 4px 3px;
}

input {
  background-color: #011f3c;
  font-family: "Courier New";
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 12pt;
  padding: 7px 15px 5px 15px;
  margin-right: 10px;
  text-overflow: ellipsis;
  text-align: left;
}

textarea {
  background-color: #011f3c;
  white-space: pre-line;
  white-space: pre-wrap;
  font-family: "Courier New";
  font-weight: bolder;
  font-size: 14px;
  border-width: 0px;
  border: none;
  color: #ffffff;
  font-size: 12pt;
  padding: 0px 0px 0px 0px;
  width: 550px;
  margin-right: 10px;
  text-overflow: ellipsis;
  text-align: left;
  outline: none;
}

th {
  font-family: "Courier New";
  font-weight: bolder;
  font-size: 14px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-bottom: 3px solid #ffffff;
}

td {
  font-family: "Courier New";
  font-size: 14px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ff0000;
}

table {
  border-collapse: collapse;
  column-gap: 3px solid #ffffff;
}

table td + td {
  border-left: 2px solid #ffffff;
}

table th + th {
  border-left: 2px solid #ffffff;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #002eff;
  border-color: #002eff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 5px;
}
